@font-face {
  font-family: "Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #fde8d4;
}

p,
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #2f3640;
  color: #e84118;
  border-bottom: 5px solid black;
}

header h1 {
  padding-left: 5px;
  font-family: "Fatface", "Cambria", "Arial", "Serif";
  cursor: default;
}

header h1 a {
  text-decoration: none;
  color: #e84118;
}

#search-box {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 10px;
  background: #2f3640;
  transition: 0.4s;
}

#search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

#search-box:hover > #search-txt {
  width: 200px;
  padding: 0 6px;
}

#search-box:hover {
  width: 260px;
}

#search-box:hover > #search-btn {
  background: white;
}

#account {
  width: 240px;
  height: 4em;
  background: #2f3640;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2em;
}

#account img,
.friend img {
  height: 1.75em;
  width: 1.75em;
  border-radius: 3em;
  border: 2px solid black;
  transition: 0.4s;
  resize: none;
}

#account > a.acc:hover > img,
.friend a:hover img {
  border: 2px solid white;
}

#account a,
.friend a {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bold;
  color: #e84118;
  display: flex;
  text-decoration: none;
  max-height: 64px;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}

#account a.notco {
  font-size: 20px !important;
  padding-left: 10px;
}

#account a.notco:hover {
  text-decoration: underline;
  color: #f39c12;
}

#account .pseudo {
  vertical-align: middle;
  margin-left: 2px;
  padding-left: 3px;
}

#account > a.acc:hover,
.friend a:hover {
  color: white;
}

.disconnect {
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

.disconnect:hover {
  color: white !important;
}

.page {
  display: flex;
}

.content {
  width: 70%;
  margin: auto;
}

.postContainer {
  width: 80%;
  margin: auto;
}

.postContainer h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
  text-decoration: underline;
  text-align: center;
}

.post {
  border: 5px solid black;
  box-shadow: 2.1px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    2.1px 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    2.1px 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 2.1px 100px 80px rgba(0, 0, 0, 0.12);
  background: lightgrey;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 20px;
}

.postTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left !important;
  margin-bottom: -0.4em;
}

.author {
  font-style: italic;
  color: grey;
}

.author a {
  color: #e84118;
  text-decoration: none;
  transition: 0.4s;
}

.author a:hover {
  color: rgb(175, 162, 162);
}

.footnotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 15px 0 5px;
}

.date {
  font-style: italic;
  color: grey;
}

.commenter {
  color: #e84118;
}

.nocomment {
  color: gray;
  text-decoration: line-through;
}

a.commentNb {
  text-decoration: none;
  color: black;
}

.postActions a {
  text-decoration: none;
  color: black;
}

.commentContainer {
  width: 99%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment {
  padding: 3px;
  background: aliceblue;
  border-radius: 20px;
  margin-top: 3px;
}

.commentHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.commentHead a {
  text-decoration: none;
  color: #e84118;
}

.commentContent {
  margin: 10px 0;
}

.commAuth {
  font-weight: bold;
}

.dateComment {
  font-style: italic;
  color: grey;
  font-size: 12px;
}

.profileAndPost,
.profileBox {
  border: 3px solid black;
  background: grey;
  padding: 1em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.profile .avatar {
  width: 120px;
  height: 120px;
  border: 2px solid black;
}

.profile .infos h2,
.profile .infos h3 {
  margin: 0;
  text-align: center;
}

.profile h2 {
  font-family: "Fatface", "Cambria", "Arial", "Serif";
  font-size: 25px;
  color: #e84118;
}

.profile h3 {
  font-size: 17px;
  font-style: italic;
}

.postForm {
  margin-left: 1em;
  padding: 10px;
  background-color: #dddbd8;
  border-radius: 3px 3px 10px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px 3px 10px 10px;
  border: 1px solid #c7c5c0;
}

.postForm #Title {
  min-width: 200px;
  color: #4e5162;
  background: white;
  border: 1px solid #3b4151;
  -moz-box-shadow: inset 0px 2px 2px #c7c5c0;
  -webkit-box-shadow: inset 0px 2px 2px #c7c5c0;
  box-shadow: inset 0px 2px 2px #c7c5c0;
  padding: 1px 0px;
  margin: 0px;
  margin-right: 2em;
  display: inline-block;
  border-radius: 1px;
}

.postForm .image {
  border: 1px solid black;
  background: rgb(163, 158, 158);
  padding: 2px;
  cursor: default;
  transition: 0.2s;
  border-radius: 1px;
}

.postForm .image:hover {
  background: lightgrey;
}

.postForm .inactiveForm {
  width: 100%;
  height: 30px;
  font-size: 9pt;
  font-style: italic;
  color: #9f9d9b !important;
  background-color: white;
  border: 1px solid #9f9d9b;
  resize: none;
  margin-top: 4px;
}

.postForm .activeForm {
  max-width: none;
  max-height: none;
  margin: 0px;
  margin-top: 4px;
  padding: 0px;
  text-decoration: none;
  color: inherit;
  font-family: Arial, sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  background: transparent;
  background-color: transparent;
  border: 0px;
  outline: none;
  text-shadow: none;
  margin-top: 3px;
  width: 95%;
  min-height: 60px;
  color: #3b4151;
  border: 1px solid #9f9d9b;
  -moz-box-shadow: inset 1px 2px 1px #dddbd8;
  -webkit-box-shadow: inset 1px 2px 1px #dddbd8;
  box-shadow: inset 1px 2px 1px #dddbd8;
  background-color: white;
  resize: vertical;
}

.submitPost {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  color: white !important;
  font-size: 12pt;
  line-height: 12pt;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0px 1px 2px black;
  background-image: none !important;
  background-color: #ff6600;
  -moz-box-shadow: inset 0px 15px 0px #ff7900, inset 0px -1px 0px #a63f00,
    0px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px 15px 0px #ff7900, inset 0px -1px 0px #a63f00,
    0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 15px 0px #ff7900, inset 0px -1px 0px #a63f00,
    0px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #ff6600;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.submitPost:hover {
  background-color: #ff6600;
  background-image: none !important;
  text-decoration: none !important;
  color: white !important;
  border: 1px solid white !important;
}

.friend {
  background-color: lightgray;
  padding: 2px;
  padding-right: 0 !important;
  margin-top: 1em;
  border-radius: 40px 0 0 40px;
  transition: 0.4s ease-in-out;
  width: 175px;
}

.friend a {
  justify-content: flex-start !important;
}

.friend .pseudo {
  margin-left: 0.5em;
  margin-right: 1em;
  transition: 0.5s;
  white-space: nowrap;
}

.friend:hover {
  width: 250px;
  background-color: grey;
}

.friend:hover .pseudo {
  margin-right: 2em;
}

aside {
  width: 210px;
  padding-left: 10px;
  right: 0;
}

.asideContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

aside h2 {
  color: #e84118;
  text-decoration: underline;
  font-weight: bolder;
  padding-top: 4px;
  border-top: 1px dashed #9f9d9b;
}

input[type="file"] {
  background: #f15d22;
  clip: rect(0, 0, 0, 0);
  height: 0;
  white-space: nowrap;
  width: 0;
  position: absolute !important;
}

input[type="file"],
.imgLabel {
  /* background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding-left: 2rem 4rem; */
  /* background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: 600;
  outline: none;
  padding: 10px 14px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle; */
  display: inline-block;
  padding: 6px 8px;
  margin: 15px 0;
  width: auto;
  color: white !important;
  font-size: 12pt;
  line-height: 12pt;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0px 1px 2px black;
  background-image: none !important;
  background-color: #ff6600;
  -moz-box-shadow: inset 0px 15px 0px #ff7900, inset 0px -1px 0px #a63f00,
    0px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px 15px 0px #ff7900, inset 0px -1px 0px #a63f00,
    0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 15px 0px #ff7900, inset 0px -1px 0px #a63f00,
    0px 2px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #ff6600;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="file"]:focus,
.imgLabel,
input[type="file"],
.imgLabel:hover {
  background-color: #f15d22;
}

input[type="file"]:focus,
.imgLabel {
  outline: 1px dotted #000;
}

#Title {
  font-size: 18px;
}
