@font-face {
  font-family: "Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

header {
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #2f3640;
  color: #e84118;
  border-bottom: 5px solid black;
}

header h1 {
  padding-left: 5px;
  font-family: "Fatface", "Cambria", "Arial", "Serif";
  cursor: default;
}

header h1 a {
  text-decoration: none;
  color: #e84118;
}

#search-box {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 10px;
  background: #2f3640;
  transition: 0.4s;
}

#search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

#search-box:hover > #search-txt {
  width: 200px;
  padding: 0 6px;
}

#search-box:hover {
  width: 260px;
}

#search-box:hover > #search-btn {
  background: white;
}

#account {
  width: 240px;
  height: 4em;
  background: #2f3640;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#account img {
  height: 1.75em;
  width: 1.75em;
  border-radius: 3em;
  border: 2px solid black;
  transition: 0.4s;
}

#account > a.acc:hover > img {
  border: 2px solid white;
}

#account a {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bold;
  color: #e84118;
  display: flex;
  text-decoration: none;
  max-height: 64px;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}

#account a.notco {
  font-size: 20px !important;
  padding-left: 10px;
}

#account a.notco:hover {
  text-decoration: underline;
  color: #f39c12;
}

#account .pseudo {
  vertical-align: middle;
  margin-left: 2px;
  padding-left: 3px;
}

#account > a.acc:hover {
  color: white;
}

.disconnect {
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

.disconnect:hover {
  color: white !important;
}

.page {
  display: flex;
}

.content {
  width: 80%;
  margin: auto;
}

.postContainer {
  width: 80%;
  margin: auto;
}

.postContainer h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
  text-decoration: underline;
  text-align: center;
}

.post {
  border: 5px solid black;
  box-shadow: 2.1px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    2.1px 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    2.1px 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 2.1px 100px 80px rgba(0, 0, 0, 0.12);
  background: lightgrey;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 20px;
}

.postTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left !important;
  margin-bottom: -0.4em;
}

.author {
  font-style: italic;
  color: grey;
}

.author a {
  color: #e84118;
  text-decoration: none;
  transition: 0.4s;
}

.author a:hover {
  color: rgb(175, 162, 162);
}

.footnotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 15px 0 5px;
}

.date {
  font-style: italic;
  color: grey;
}

.commenter {
  color: #e84118;
}

.nocomment {
  color: gray;
  text-decoration: line-through;
}

a.commentNb {
  text-decoration: none;
  color: black;
}

.postActions a {
  text-decoration: none;
  color: black;
}

.commentContainer {
  width: 99%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment {
  padding: 3px;
  background: aliceblue;
  border-radius: 20px;
  margin-top: 3px;
}

.commentHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.commentHead a {
  text-decoration: none;
  color: #e84118;
}

.commentContent {
  margin: 10px 0;
}

.commAuth {
  font-weight: bold;
}

.dateComment {
  font-style: italic;
  color: grey;
  font-size: 12px;
}
